<app-navbar></app-navbar>

<div class="max-w-7xl mx-auto px-4 w-screen flex flex-col justify-center mt-10 mb-10 md:mt-20 md:mb-24">
    <div class="flex justify-center mt-12">
        <img src="/assets/Union.png" alt="" srcset="">
      </div>

    <div class="text-center animate-fade-in-up md:mb-16">
        <h2 class="textcolor text-4xl font-bold my-4 mb-12">Equipo estratégico: Impulsando el Éxito Empresarial</h2>

        <h4 class="textcolor text-xl my-4 text-justify">
            <p class="textcolor text-xl text-center mb-4">
                En CDA, contamos con un equipo de liderazgo apasionado y comprometido, dedicado a guiar nuestro camino hacia el éxito. Nuestros líderes aportan una visión estratégica y una profunda experiencia en el sector, asegurando que cada paso que tomamos esté alineado con los valores fundamentales de la empresa.
            </p>
        </h4>
    </div>
</div>

<div class="parent justify-items-center mb-24">
    <div class="div1 self-end">
        <img src="/assets/person/shantal.png " alt="" srcset="">
        <h3 class="text-center text-gray-600 text-xs md:text-xs  font-medium">Shantal Lea</h3>
        <h4 class="text-center text-gray-600 text-xs md:text-xs  font-light">Project manager | LATAM</h4>
    </div>
    <div class="div2 self-end">
        <img src="/assets/person/miguel.png" alt="" srcset="">
        <h3 class="text-center text-gray-600 text-xs md:text-xs font-medium">Miguel Fericelli</h3>
        <h4 class="text-center text-gray-600 text-xs md:text-xs font-light">Support Manager | LATAM</h4>
    </div>
    <div class="div3">
        <img src="/assets/person/nn.png" alt="" srcset="">
        <h3 class="text-center text-gray-600 text-xs md:text-xs font-medium">Pedro Barrera</h3>
        <h4 class="text-center text-gray-600 text-xs md:text-xs font-light">Country Manager | Venezuela</h4>
    </div>
    <div class="div4">
        <img src="/assets/person/mari.png" alt="" srcset="">
        <h3 class="text-center text-gray-600 text-xs md:text-xs font-medium">María Pulido</h3>
        <h4 class="text-center text-gray-600 text-xs md:text-xs font-light">Consultor Funcional | LATAM</h4>

    </div>
    <div class="div5">
        <img src="/assets/person/manu.png" alt="" srcset="">
        <h3 class="text-center text-gray-600 text-xs md:text-xs font-medium">Manuel Arias Tellez</h3>
        <h4 class="text-center text-gray-600 text-xs md:text-xs font-light">Integración y Desarrollo | LATAM</h4>
    </div>
    <div class="div6">
        <img src="/assets/person/clau.png" alt="" srcset="">
        <h3 class="text-center text-gray-600 text-xs md:text-xs font-medium">Claudia Espinoza</h3>
        <h4 class="text-center text-gray-600  text-xs md:text-xs font-light">Gerente de Cuentas | LATAM</h4>
    </div>
    <div class="div7 m-4 ">   
        <img src="/assets/person/jostin.png" alt="" srcset="">
        <h3 class="text-center text-gray-600 text-xs md:text-xs  font-medium">Jostin Olivera</h3>
        <h4 class="text-center text-gray-600 text-xs md:text-xs  font-light">Integración y Desarrollo | LATAM</h4>
    </div>
    <div class="div9 grid items-center">
        <img src="/assets/cda.png" alt="" srcset="">
    </div>

</div>




<app-footer></app-footer>