<div class="max-w-7xl mx-auto px-4 w-screen flex flex-col justify-center mt-28">
    <div class="text-center animate-fade-in-up">
        <h2 class="textcolor text-4xl font-bold my-4">
            Soluciones Talentia Software
        </h2>
        <h3 class="textcolor text-2xl font-bold my-4">
            Automatiza procesos, mejora la eficiencia y promueve el desarrollo de tu
            equipo con nuestras herramientas.
        </h3>
    </div>

    <div class="grid grid-cols-4 gap-4 animate-fade-in-up" (click)="redirectToSoluciones()" style="cursor: pointer;">
        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/card1.svg" alt="Organización y Personas" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Organización y Personas</div>
            </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/adquisiciontalento.svg" alt="Adquisición del Talento" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Adquisición del Talento</div>
            </div>
        </div>

        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/evaluacion.svg" alt="Evaluación y Feedback" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Evaluación y Feedback</div>
            </div>
        </div>

        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/sucesion.svg" alt="Plan de Carrera" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Plan de Carrera</div>
            </div>
        </div>

        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/revisionsalarial.svg" alt="Revisión Salarial" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Revisión Salarial</div>
            </div>
        </div>

        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/capacitacion.svg" alt="Capacitación y Desarrollo" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Capacitación y Desarrollo</div>
            </div>
        </div>

        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/empleado.svg" alt="Portal del Empleado" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Portal del Empleado</div>
            </div>
        </div>

        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col items-center justify-center">
            <img class="w-72 h-72 mb-4" src="/assets/analiticas.svg" alt="Análisis y Reportes" />
            <div class="text-center">
                <div class="textcolor font-bold text-xl mb-2">Análisis y Reportes</div>
            </div>
        </div>
    </div>
</div>